@property --property-name {
  syntax: "<color>";
  inherits: false;
  initial-value: #c0ffee;
}

@keyframes connect-wallet-rainbow {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
.connect-wallet-rainbow {
  animation: connect-wallet-rainbow 800ms infinite;
}

@keyframes scale-pulse {
  0% {
    font-size: 1rem;
  }
  50% {
    font-size: 1.2rem;
  }
  100% {
    font-size: 1rem;
  }
}

@keyframes bounce-scale {
  0% {
    scale: 1;
  }
  40% {
    scale: 1.15;
  }
  70% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

@keyframes bounce-scale-sm {
  0% {
    scale: 1;
  }
  40% {
    scale: 1.1;
  }
  65% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

@keyframes keyframes--w-full-to-none {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes shake-x {
  from {
    transform: translateX(0);
  }
  15% {
    transform: translateX(-1%);
  }
  30% {
    transform: translateX(1%);
  }
  45% {
    transform: translateX(-1%);
  }
  60% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
  90% {
    transform: translateX(1%);
  }
  to {
    transform: translateX(0);
  }
}
